video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}

#middleText {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -90%);
}

#logo>* {
    display: inline-block;
    font-size: 3em;
    font-family: "Roboto";
    text-decoration: none;
    color: #eee;
    -webkit-text-stroke: .75px black;
}

#profileLinks {
    position: relative;
    transform: translate(0, 25px);
}

.blockDisplay {
    display: block;
}

#middleText h1 {
    text-align: center;
}

.button {
    text-decoration: none;
    background-color: #e0e0e0;
    color: #000000;
    padding: 5px;
    font-family: "Roboto";
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 50);

}

.rightAlign,
.leftAlign {
    position: absolute;
    margin-left: 7px;
    margin-right: 7px;
}

.rightAlign {
    right: 0;
}

#edgif {
    position:absolute;
    left:50%;
    top:75%;
    transform: translate(-50%,-50%);
    border-radius:5px
}

